<div class="row" style="display: none;">
  <div class="col-12 col-lg-4">
    <div class="card radius-15 bg-primary-blue">
      <div class="card-body text-center">
        <h6>Ministères ou Institutions concernés</h6>
        <h6>{{nbMinistere}}</h6>
        <br>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-4">
    <div class="card radius-15 bg-rose">
      <div class="card-body text-center">
         <h6>Périodicité d'évaluation </h6>
        <h6>{{periodicite}}</h6>
        <br>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-4">
    <div class="card radius-15 bg-sunset">
      <div class="card-body text-center">
        <h6>Nombre de structures concernées</h6>
        <h6>{{nbstructure}}</h6>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-12">
    <p-fieldset [toggleable]="false" [transitionOptions]="'0ms'" class="text-center">
      <ng-template pTemplate="header">Export des projets de rapports et programmes d'activités </ng-template>

        <button pButton pRipple label="Exporter un projet de rapport" icon="pi pi-upload" class="p-button-help"
        (click)="onExportRapport()" style="margin-right: 40px;"></button>

        <button pButton pRipple label="Exporter un projet de programme" icon="pi pi-upload" class="p-button-help"
        (click)="onExportProgramme()"></button>

    </p-fieldset>
  </div>
</div>
<hr>
<div class="row text-center">
  <div class="col-12 col-lg-12">
    <h6 style="margin-top: 10px; margin-bottom: 10px;">Représentation graphique des données</h6>
  </div>
</div>
<hr>
<div class="row p-fluid p-grid">
  <div class="p-fluid col-12 col-lg-12">
    <form #dtf="ngForm">
      <div class="p-fluid grid row">
        <div class="p-fluid p-col-4 col-md-4">
          <h6>Choix du ministère</h6>
          <p-dropdown (onChange)="g_selectMinistere($event)" name="ministerId" #ministerId="ngModel" [(ngModel)]="g_ministere_id" optionLabel="sigle" optionValue="id"
          [filter]="true" filterBy="sigle" [showClear]="true"   [options]="g_ministeres" placeholder="Selectionner...">
          </p-dropdown> 
      </div>
      <div class="p-fluid p-col-4 col-md-4">
          <h6>Choix de la structure</h6>
          <p-dropdown (onChange)="selectStructure($event)" name="structureId" #structureId="ngModel" [(ngModel)]="g_structure_id" optionLabel="sigle" optionValue="id"
          [filter]="true" filterBy="sigle" [showClear]="true"   [options]="g_structures" placeholder="Selectionner...">
          </p-dropdown> 
      </div>
      <div class="p-fluid p-col-2 col-md-2">
          <h6>Exercice budgétaire</h6>
          <p-dropdown (onChange)="selectExercice($event)" name="g_exoId" #g_exoId="ngModel" [(ngModel)]="g_exercice_id" optionLabel="debut" optionValue="id"  
          [filter]="true" filterBy="debut" [showClear]="true" [options]="g_exercices" placeholder="Selectionner...">
          <ng-template let-g_exercice pTemplate="g_exercice">
            {{g_exercice.debut | date:'yyyy'}}
          </ng-template>
         </p-dropdown>
      </div>
      <div class="p-fluid p-col-2 col-md-2 mt-auto">
          <!--h6>.</h6-->
          <p-button label="Charger.." icon="pi pi-search" iconPos="right" (onClick)="loadStats()"></p-button>
      </div>
      </div>
    </form>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12 col-lg-12" style="max-width: 100vw; overflow: auto">
    <p-card>
      <p-chart type="line" [data]="globalLinesData" [options]="basicOptions"></p-chart>
    </p-card>
  </div>
</div>
<!-- Boites de dialog pour exporter les données-->
<p-dialog [(visible)]="showDialogProgramme" [maximizable]="true"  [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
      [style]="{width: '60vw'}" header="Choisissez les options pour exporter le programme ou projet de programme">

      <div class="p-fluid grid">
        <div class="p-fluid p-col-12 col-md-12" [hidden]="btnHiddenMinistere">
          <h6>Choix du ministère</h6>
          <p-dropdown (onChange)="selectMinistere($event)" optionLabel="libelle" optionValue="id" [options]="ministeres"
          [filter]="true" filterBy="libelle" [showClear]="true"   name="ministere" placeholder="Selectionner...">
          </p-dropdown>
        </div>

        <div class="p-fluid p-col-12 col-md-12">
          <h6>Choix de structure</h6>
          <p-dropdown (onChange)="selectStructure($event)" optionLabel="libelle" optionValue="id" [options]="structures"
          [filter]="true" filterBy="libelle" [showClear]="true"   name="structure" placeholder="Selectionner...">
          </p-dropdown>
        </div>

        <div class="p-fluid p-col-12 col-md-12">
          <h6>Choix de exercice</h6>
          <p-dropdown (onChange)="selectExercice($event)" optionLabel="debut" optionValue="id" [options]="exercices"
          [filter]="true" filterBy="debut" [showClear]="true"  name="exercice" placeholder="Selectionner...">
          <ng-template let-exercice pTemplate="exercice">
            {{exercice.debut | date:'yyyy'}}
          </ng-template>
        </p-dropdown>
        </div>
        <div class="p-fluid p-col-12 col-md-12">
          <h6>Choisir le format</h6>
          <p-dropdown (onChange)="selectFormat($event)" optionLabel="name" optionValue="name" [options]="formats"
            name="format" placeholder="Selectionner...">
          </p-dropdown>
        </div>
      </div>
      <p-divider></p-divider>
      <br>
      <div class="p-ml-auto text-right" style="margin-top: 10px; padding: 30px;">
        <button type="reset" label="Annuler" (click)="showDialogProgramme=false" class="p-button-raised p-button-text p-button-success mr-2" pButton></button>
        <button type="submit"  (click)="exportProgrammeActivites()"  label="Valider" icon="pi pi-save" class="p-button-help" pButton>
        </button>
      </div>
    </p-dialog>
    <!--export du rapport d'activités-->
    <p-dialog [(visible)]="showDialogRapport" [maximizable]="true"  [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
    [style]="{width: '50vw'}"  header="Choisissez les options pour exporter le projet de rapport d'activité">
    <div class="p-fluid grid">
      <div class="p-fluid p-col-12 col-md-12" [hidden]="btnHiddenMinistere">
        <h6>Choix du ministère</h6>
        <p-dropdown (onChange)="selectMinistere($event)" optionLabel="libelle" optionValue="id" [options]="ministeres"
        [filter]="true" filterBy="libelle" [showClear]="true"   name="ministere" placeholder="Selectionner...">
        </p-dropdown>
      </div>

      <div class="p-fluid p-col-12 col-md-12">
        <h6>Choix de structure</h6>
        <p-dropdown (onChange)="selectStructure($event)" optionLabel="libelle" optionValue="id" [options]="structures"
        [filter]="true" filterBy="libelle" [showClear]="true"   name="structure" placeholder="Selectionner...">
        </p-dropdown>
      </div>

      <div class="p-fluid p-col-12 col-md-12">
        <h6>Choix de exercice</h6>
        <p-dropdown (onChange)="selectExercice($event)" optionLabel="debut" optionValue="id" [options]="rapp_exercices"
        [filter]="true" filterBy="debut" [showClear]="true" name="exercice" placeholder="Selectionner...">
          <ng-template let-exercice pTemplate="exercice">
            {{exercice.debut | date:'yyyy'}}
          </ng-template>
        </p-dropdown>
      </div>

      <div class="p-fluid p-col-12 col-md-12">
        <h6>Choisir la période souhaitée</h6>
        <p-dropdown (onChange)="selectPeriode($event)" optionLabel="libelle" optionValue="id" [options]="periodes"
          name="period" placeholder="Selectionner...">
        </p-dropdown>
      </div>

      <div class="p-fluid p-col-12 col-md-12">
        <h6>Choisir le format</h6>
        <p-dropdown (onChange)="selectFormat($event)" optionLabel="name" optionValue="name" [options]="formats"
          name="format" placeholder="Selectionner...">
        </p-dropdown>
      </div>
    </div>

    <p-divider></p-divider>
    <div class="p-ml-auto text-right" style="margin-top: 10px; padding: 30px;">
      <button type="reset" label="Annuler" (click)="showDialogRapport=false" class="p-button-raised p-button-text p-button-success mr-2" pButton></button>
      <button type="submit"  (click)="exportRapportActivites()"  label="Valider" icon="pi pi-save" class="p-button-help" pButton>
      </button>
    </div>
  </p-dialog>
