@import "../../../../../../node_modules/primeflex/primeflex.css";
.table{
 width: 1000%;
 height: 70%;
 border-bottom: 5px;
 border: 5;
 border-color: red;
}

.tache{
  font-size: 100%;
  text-align: center;
}
.activite{
  font-size: 120%;
  text-align: center;
  height: 80%;
}
