@import "../../../../../../node_modules/primeflex/primeflex.min.css";
.leftcontent {
    background-color: rgba(196, 206, 245, 0.836);
}

.rowcontent {
    border: 1px solid black;
    background-color: rgba(196, 206, 245, 0.836);
}

.rightcontent {
    color: black;
}

.row-margin {
    margin: 4px;
}
