<div class="row p-fluid p-grid"> 
    <div class="p-fluid col-12 col-lg-12">
        <form #dtf="ngForm">
            <div class="p-fluid grid">
                <div class="p-fluid p-col-12 col-md-12">
                    <h6>Choix du ministère</h6>
                    <p-dropdown (onChange)="selectMinistere($event)" name="ministerId" #ministerId="ngModel" [(ngModel)]="ministereID" optionLabel="libelle" optionValue="id"
                        [options]="ministeres" placeholder="Selectionner...">
                    </p-dropdown> 
                </div>
            </div>
            <div class="p-ml-auto text-right">
                 
            </div>
        </form>
    </div>
</div>

<div class="row" style="text-align: center">
    
    <div class="p-fluid p-col-12 col-lg-12">
        <br>
        <h6 style="margin-top: 10px; margin-bottom: 10px;">Evolution des activités des dépenses par périodes</h6>
        <br>
        <p-card>
            <p-chart type="line" [data]="globalLinesData" [options]="basicOptions"></p-chart>
        </p-card>
    </div>
</div>


